In [54]:
dict={'Garima': [28,38] , 'Anamika': 27, 'Amita': 35, 'Sonia':40}

In [55]:
#dict={'Manali':40}

In [56]:
#dict['Garima']=30

In [57]:
print(dic)

{'Garima': 80, 'Anamika': 27, 'Amita': 35, 'Sonia': 40}

In [58]:
#dict['Garima']=dict['Garima']+50
#print(dict)

In [59]:
dict['Garima'].append(4)

In [61]:
print(dict)

{'Garima': [28, 38, 4], 'Anamika': 27, 'Amita': 35, 'Sonia': 40}

In [62]:
import numpy as np

In [64]:
test=np.array([1,2,3,4,5,6,7,8,9])

In [75]:
print(test<5)

[ True  True  True  True False False False False False]

In [76]:
print(test[test<5])

[1 2 3 4]

In [79]:
## creating dataframe by loading a file  and then writting it back in a file           
import pandas as pd
df=pd.read_csv('Downloads/ozone.csv')
##df=pd.read_table('Ozone_data.csv',delimiter=',')
##df=pd.read_excel('attendence.xlsx')
df.head()

,Month,Day_of_month,Day_of_week,ozone_reading,pressure_height,Wind_speed,Humidity,Temperature_Sandburg,Temperature_ElMonte,Inversion_base_height,Pressure_gradient,Inversion_temperature,Visibility
0,1,5,1,5.34,5760,3,51,54,45.32,1450,25,57.02,60
1,1,6,2,5.77,5720,4,69,35,49.64,1568,15,53.78,60
2,1,7,3,3.69,5790,6,19,45,46.40,2631,-33,54.14,100
3,1,8,4,3.89,5790,3,25,55,52.70,554,-28,64.76,250
4,1,9,5,5.76,5700,3,73,41,48.02,2083,23,52.52,120